.app__features {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}
.app__features-heading {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  margin-right: 5rem;
}
.app__features-heading h1 {
  font-family: var(--font-family);
  font-size: 34px;
  font-weight: 800;
  line-height: 45px;
}
.app__features-heading p {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 2rem;
  color: #ff8a71;
}
.app__features-container {
  flex: 1.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 990px) {
  .app__features {
    flex-direction: column;
  }
  .app__features-heading {
    margin: 0 0 2rem 0;
  }
}
@media screen and (max-width: 550px) {
  .app__features-heading h1 {
    font-size: 28px;
    line-height: 38px;
  }
}
